/* ==========================================================================
   Sass accent colors
   ========================================================================== */


/* $highlightcolor : #CC0000;
$lowlightcolor  : #000; */

$highlightcolor : #244A57;
$lowlightcolor  : #000;
